.course-list-container {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.course-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px; /* Tăng gap một chút để giao diện thoáng hơn */
  width: 100%;
}

/* Responsive Grid */
@media (min-width: 493px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 780px) {
  .course-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-item {
  display: flex;
  width: 100%;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 40px 0 20px;
  width: 100%;
}

/* Custom MUI Pagination */
.pagination-wrapper .MuiPaginationItem-root {
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  color: #333;
  margin: 0 2px;
}

.pagination-wrapper .Mui-selected {
  background-color: #f45e61 !important;
  color: #fff !important;
  border: none !important;
}

.pagination-wrapper .MuiPaginationItem-ellipsis {
  border: none;
}