/* Khung Modal */
.register-modal-paper {
    border-radius: 12px !important;
    padding: 10px;
    position: relative;
}

.register-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.close-icon-btn {
    position: absolute !important;
    right: 15px;
    top: 15px;
}

/* Chia bố cục 2 cột */
.register-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 10px;
}

.form-column-title {
    font-size: 14px !important;
    font-weight: 700 !important;
    margin-bottom: 15px !important;
}

.register-input-field .MuiOutlinedInput-root {
    border-radius: 10px;
    background-color: #fafafa;
}

/* Nút bấm */
.register-submit-btn {
    display: block!important;
    width: 100%;
    max-width: 150px;
    margin: 30px auto 0 !important;
    
    background-color: #e31e24 !important;
    color: white !important;
    border-radius: 10px !important;
    padding: 12px !important;
    font-weight: 700 !important;

    text-transform: none !important;
}

.google-login-btn {
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    color: #333 !important;
    padding: 10px !important;
    margin-top: 15px !important;
    text-transform: none !important;
    font-weight: 600 !important;
}

/* Divider HOẶC */
.divider-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #999;
}

.divider-line {
    flex: 1;
    height: 1px;
    background-color: #eee;
}

.divider-text {
    padding: 0 10px;
    font-size: 12px;
}

.login-redirect-text {
    text-align: center;
    margin-top: 20px !important;
    font-size: 14px !important;
    color: #666;
}

.login-link {
    color: #1e88e5;
    cursor: pointer;
    font-weight: 600;
}